@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
  box-sizing: border-box;
  background-color: #222;
}

html * {
  margin: 0;
  padding: 0;
}

.btn-gradient {
  background: linear-gradient(145deg, #232323, #1e1e1e);
}